div.card-horizontal {
    flex-direction: row;
}

.product-cart-button .wishlist {
    position: relative;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

.card-sub-content input[type="text"] {
    width: 2rem;
    height: 1.5rem;
}

.cart-total {
    width: 25rem;
    background: var(--white);
}

div.card-sub-content {
    gap: 0.5rem;
}

.wishlist-products {
    width: 40rem;
}

div.card-horizontal {
    width: 80%;
}

.horizontal-line {
    border-bottom: 1px solid var(--gray);
    margin: 1rem;
}

.sub-total {
    font-weight: 500;
}