/* variables */
:root {
  --dark-blue: #1e3a8a;
  --light-sky-blue: #60a5fa;
  --white: #ffffff;
  --gray: #808080;
  --red: #ed1f27;
  --light-red: #ff6767;
  --light-gray: #dcdcdc;
  --black: #000000;
  --brown: #af1717;
}

body {
  background-color: var(--light-gray);
}

/* utilities */
h4 {
  margin: 4px 0;
}

/* svg icons */
.svg-icon {
  width: 1.5rem;
}

/* image size jpg */
img.img-jpg {
  height: 14rem;
  width: 18rem;
}

div.card-img-container {
  display: flex;
  height: 15rem;
  justify-content: center;
  align-items: center;
}