/* variables */
:root {
  --dark-blue: #1e3a8a;
  --light-sky-blue: #60a5fa;
  --white: #ffffff;
  --light-white: #f3f3f3;
  --gray: #808080;
  --red: #ed1f27;
  --light-red: #ff6767;
  --light-gray: #dcdcdc;
  --black: #000000;
  --brown: #af1717;
}

body {
  background-color: var(--light-gray);
}

h4 {
  margin: 4px 0;
}

button {
  background-color: var(--light-white);
}

/* navbar style */
span.badge-icon {
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.1rem;
  right: -6px;
}

/* svg icon size */
.svg-icon {
  width: 1.5rem;
}

/* image size jpg */
img.img-jpg {
  height: 100%;
}

div.card-img-container {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  margin: 1rem;
}

div.card-img-container.row {
  width: 13rem;
}
